.animatePulse2 {
    height: 48px;
    line-height: 72px;
    background: rgb(228, 25, 49, 0.1);
    border-color: red;
    font-weight: bold;
    font-size: 22px;
    padding: 20px;
    animation: animate_pulse2 2s infinite;
}

.animatePulse2:hover {
    animation: none;
}

@keyframes animate_pulse2 {
    0% {
        box-shadow: 0 0 0 0 rgb(228, 25, 49, 0);
    }
    70% {
        box-shadow: 0 0 0 20px rgb(228, 25, 49, 0.1);
    }
    100% {
        box-shadow: 0 0 0 0 rgb(228, 25, 49, 0);
    }
}

.component {
    margin: 10px;
    text-align: center;
}

.component > * {
    margin: 10px;
}

.cookie {
    width: 100px;
    height: 100px;
    transition: 0.5s;
}

.cookieContainer {
    margin: 10px auto;
    width: 100px;
    height: 100px;
}

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(33, 37, 41);
    text-align: left;
    background-color: rgb(255, 255, 255);
    margin: 0px;
}

a {
    color: rgb(0, 123, 255);
    background-color: transparent;
    text-decoration: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
    margin-bottom: 0.5rem;
}

.h6,
h6 {
    font-size: 1rem;
}

.bg-dark {
    background-color: rgb(35, 38, 41) !important;
}

.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col {
    flex-basis: 0px;
    flex-grow: 1;
    max-width: 100%;
}

.display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.d-flex {
    display: flex !important;
}

.d-block {
    display: block !important;
}

.pb-2,
.py-2 {
    padding-bottom: 0.5rem !important;
}

.pt-2,
.py-2 {
    padding-top: 0.5rem !important;
}

.pt-3,
.py-3 {
    padding-top: 1rem !important;
}

.pt-4,
.py-4 {
    padding-top: 1.5rem !important;
}

.pb-4,
.py-4 {
    padding-bottom: 1.5rem !important;
}

.p-4 {
    padding: 1.5rem !important;
}

.pl-5,
.px-5 {
    padding-left: 3rem !important;
}

.pr-5,
.px-5 {
    padding-right: 3rem !important;
}

.text-center {
    text-align: center !important;
}

.m-1 {
    margin: 0.25rem !important;
}

.mb-1,
.my-1 {
    margin-bottom: 0.25rem !important;
}

.mt-1,
.my-1 {
    margin-top: 0.25rem !important;
}

.mt-4,
.my-4 {
    margin-top: 1.5rem !important;
}

.mb-5,
.my-5 {
    margin-bottom: 3rem !important;
}

.mt-5,
.my-5 {
    margin-top: 3rem !important;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.w-50 {
    width: 50% !important;
}

.text-danger {
    color: #dc3545 !important;
}

.text-muted {
    color: rgb(108, 117, 125) !important;
}

.text-light {
    color: rgb(248, 249, 250) !important;
}

.text-white {
    color: rgb(255, 255, 250) !important;
}

.rounded {
    border-radius: 0.25rem !important;
}

.border {
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgb(222, 226, 230) !important;
    border-image: initial !important;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-right-style: initial;
    border-bottom-style: initial;
    border-left-style: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-width: 1px 0px 0px;
    border-image: initial;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

hr {
    box-sizing: content-box;
    height: 0px;
    overflow: visible;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-danger {
    color: rgb(185, 74, 72);
    border: 1px solid rgb(238, 211, 215);
    text-align: left;
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
}

.list-unstyled {
    padding-left: 0px;
    list-style: none;
}

.list-inline {
    padding-left: 0px;
    list-style: none;
}

.list-inline-item:not(:last-child) {
    margin-right: 0.5rem;
}

.list-inline-item {
    display: inline-block;
}

.small,
small {
    font-size: 80%;
    font-weight: 400;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
    -webkit-appearance: button;
}

@media (prefers-reduced-motion: reduce) {
    .btn {
        transition: none 0s ease 0s;
    }
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: rgb(33, 37, 41);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s,
    box-shadow 0.15s ease-in-out 0s;
}

.btn-outline-success {
    color: #28a745;
    border-color: #28a745;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-outline-success:focus,
.btn-outline-success.focus {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-outline-success.disabled,
.btn-outline-success:disabled {
    color: #28a745;
    background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled):active,
.btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-outline-danger {
    color: rgb(220, 53, 69);
    border-color: rgb(220, 53, 69);
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: rgb(185, 74, 72);
    border-color: rgb(185, 74, 72);
}

.btn-outline-danger:focus,
.btn-outline-danger.focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-outline-danger.disabled,
.btn-outline-danger:disabled {
    color: rgb(185, 74, 72);
    background-color: transparent;
}

.btn-outline-danger:not(:disabled):not(.disabled):active,
.btn-outline-danger:not(:disabled):not(.disabled).active,
.show > .btn-outline-danger.dropdown-toggle {
    color: #fff;
    background-color: rgb(185, 74, 72);
    border-color: rgb(185, 74, 72);
}

.btn-outline-danger:not(:disabled):not(.disabled):active:focus,
.btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }

    .col-sm-6 {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .col-sm-12 {
        max-width: 100%;
        flex: 0 0 100%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .col-md-2 {
        max-width: 16.6667%;
        flex: 0 0 16.6667%;
    }

    .col-md-8 {
        max-width: 66.6667%;
        flex: 0 0 66.6667%;
    }

    .order-md-1 {
        order: 1;
    }

    .order-md-2 {
        order: 2;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/* Custom */
.btn-circle {
    border-radius: 50%;
    border-width: 2px;
    width: 70px;
    height: 70px;
    padding: 0;
    font-weight: bold;
    position: relative;
    animation: border-pulse 2s infinite;
}

.btn-circle:focus {
    outline: 0;
}

@keyframes border-pulse {
    0% {
        box-shadow: 0px 0px 15px 0px rgba(138, 33, 33, 0.575);
    }
    50% {
        box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0);
    }
    100% {
        box-shadow: 0px 0px 15px 0px rgba(138, 33, 33, 0.575);
    }
}

@keyframes flashing {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);

        opacity: 0.0;
    }
    20% {
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
        opacity: 0.2;
    }
    40% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0.5;
    }
    60% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
        opacity: 0.7;
    }
    80% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        background-color: rgba(85, 85, 85, 0.247);
        opacity: 0.2;
    }
    100% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        opacity: 0.0;
    }
}

.mono {
    font-family: "Cutive Mono", "Courier New", monospace;
}

.quotes {
    background-color: #222;
    font-size: 2.75rem;
    white-space: pre;
    padding: .75rem 1rem;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    min-height: 5.75rem;
    border-radius: .25rem;
    position: relative;
}

.quotes.active {
    box-shadow: 0 0 3px 0.15rem rgb(23, 168, 27);
    outline: 0;
}

.quotes.active.is-error {
    box-shadow: 0 0 3px 0.15rem rgb(190, 25, 25);
    outline: 0;
}

.text-output {
    padding: 1.5rem;
    max-width: 600px;
    margin: 2rem auto;
    min-height: 100px;
    border-radius: .25rem;
}

.quotes.active::after {
    content: '';
    position: absolute;
    width: 1.25rem;
    height: .3rem;
    background: #fff;
    left: 1.20rem;
    top: 4.25rem;
    animation: flash .2s infinite;
    -webkit-animation: flash .2s infinite;
}

.meter-gauge > span {
    text-align: center;
    font-size: 12px;
    min-height: 25px;
    padding: 5px;
}

.list-item {
    box-shadow: 1px 1px 3px rgba(51, 51, 51, 0.2);
}

@-webkit-keyframes flash {
    0% {
        background: #fff;
    }

    50% {
        background: #ff9999;
    }

    100% {
        background: #fff;
    }
}

@keyframes flash {
    0% {
        background: #fff;
    }

    50% {
        background: #ff9999;
    }

    100% {
        background: #fff;
    }
}

li {
    list-style: none;
}