.ProgressDeck {

}

.ProgressDeck .ant-card-body {
    padding: 0;
}

.ProgressDeck .Text {
    display: flex;
    justify-content: space-between;
}

.ProgressDeck .Text .ProgressDeckTitle {
    padding: 10px;
    font-size: 16px;
}

.ProgressDeck .Text .ProgressDeckNumber {
    padding: 10px;
    font-size: 16px;
}

.ProgressDeck .Description {
    padding: 0 10px 0 10px;
    font-size: 11px;
}

.ProgressDeck .ant-progress {
    height: 8px;
}